@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  background-color: rgba(194, 243, 120, 0.795);
  width: 100%; }
  header .principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid black; }
    header .principal .titulo_principal {
      font-size: 20px;
      font-family: 'Oxygen', sans-serif;
      font-weight: 700;
      font-size: 25px; }
    header .principal a {
      text-decoration: none; }
      header .principal a .fa-cart-shopping {
        font-size: 25px;
        color: black; }
  header .login {
    display: flex;
    justify-content: space-around;
    padding: 14px; }
    header .login .crear_cuenta {
      background-color: black;
      border: 1px solid black;
      color: greenyellow;
      text-decoration: none;
      padding: 5px;
      border-radius: 4px;
      font-size: 15px;
      font-family: 'Oxygen', sans-serif;
      transition: 1s; }
      header .login .crear_cuenta:hover {
        background-color: greenyellow;
        color: black;
        font-weight: bold; }
    header .login .ingresar {
      background-color: black;
      border: 1px solid black;
      color: greenyellow;
      text-decoration: none;
      padding: 5px;
      border-radius: 4px;
      font-size: 15px;
      font-family: 'Oxygen', sans-serif;
      transition: 1s; }
      header .login .ingresar:hover {
        background-color: greenyellow;
        color: black;
        font-weight: bold; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px; }
  nav .pagina {
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 4px;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.7s; }
    nav .pagina:hover {
      background-color: black;
      color: greenyellow; }

.main_inicio {
  padding: 10px; }
  .main_inicio .seccion1 .contenedor_portada {
    margin: auto;
    width: 90%;
    overflow: hidden; }
    .main_inicio .seccion1 .contenedor_portada img {
      width: 100%; }
  .main_inicio .seccion1 p {
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
    text-align: center;
    padding: 7px; }
  .main_inicio .seccion2 {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .main_inicio .seccion2 h2 {
      text-align: center;
      padding: 10px;
      font-family: 'Oxygen', sans-serif;
      font-weight: 700;
      font-size: 27px;
      width: 100%; }
    .main_inicio .seccion2 .card {
      border: 1px solid black;
      margin: auto;
      width: 230px;
      height: 340px;
      border-radius: 4px 4px 4px 4px;
      margin-bottom: 10px;
      margin-top: 10px;
      box-shadow: 1px 1px 6px black; }
      .main_inicio .seccion2 .card .imagen_card {
        width: 100%;
        height: 240px;
        border-radius: 4px 4px 0 0;
        overflow: hidden; }
        .main_inicio .seccion2 .card .imagen_card img {
          width: 100%;
          height: 100%; }
      .main_inicio .seccion2 .card .contenido_card {
        width: 100%;
        height: 100px;
        overflow: hidden;
        border-radius: 0 0 4px 4px;
        text-align: justify;
        padding: 3px 10px; }

.main_registro .seccion_registro {
  background-image: url(../img/fondo_registro.jpeg);
  background-position: 70%;
  padding: 50px 0; }
  .main_registro .seccion_registro .container_registro {
    background-color: black;
    border-radius: 4px;
    box-shadow: 1px 1px 10px white;
    opacity: 0.8;
    height: 450px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_registro .seccion_registro .container_registro h1 {
      color: white;
      font-family: 'Oxygen', sans-serif;
      font-size: 30px;
      text-align: center;
      padding: 10px 0; }
    .main_registro .seccion_registro .container_registro .fa-user {
      font-size: 45px;
      color: greenyellow;
      text-align: center;
      border: 3px solid white;
      padding: 15px;
      border-radius: 50%; }
    .main_registro .seccion_registro .container_registro p {
      color: white;
      font-family: 'Oxygen', sans-serif;
      font-size: 18px; }
    .main_registro .seccion_registro .container_registro label {
      color: white;
      font-family: 'Oxygen', sans-serif;
      display: inline-block;
      font-size: 17px;
      width: 100%;
      padding: 10px 0;
      text-align: center; }
    .main_registro .seccion_registro .container_registro input {
      color: black;
      height: 30px;
      width: 90%;
      border-radius: 5px;
      padding: 0 4px; }
    .main_registro .seccion_registro .container_registro .mensaje_bienvenida {
      color: white;
      font-family: 'Oxygen', sans-serif;
      font-size: 15px;
      padding: 10px 0;
      text-align: center; }
    .main_registro .seccion_registro .container_registro button {
      font-family: 'Oxygen', sans-serif;
      height: 40px;
      border-radius: 4px;
      padding: 4px;
      cursor: pointer;
      background-color: greenyellow;
      color: black;
      font-weight: bold;
      transition: 0.5s; }
      .main_registro .seccion_registro .container_registro button:hover {
        background-color: black;
        color: greenyellow;
        border: 3px solid greenyellow; }

.main_sesion .seccion_iniciosesion {
  background-image: url(../img/fondo_sesion.jpg);
  background-position: 70%;
  padding: 50px 0; }
  .main_sesion .seccion_iniciosesion .container_iniciosesion {
    background-color: black;
    border-radius: 4px;
    box-shadow: 1px 1px 10px white;
    opacity: 0.8;
    height: 400px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main_sesion .seccion_iniciosesion .container_iniciosesion h1 {
      color: white;
      font-family: 'Oxygen', sans-serif;
      font-size: 30px;
      text-align: center;
      padding: 10px 0; }
    .main_sesion .seccion_iniciosesion .container_iniciosesion .fa-user {
      font-size: 45px;
      color: greenyellow;
      text-align: center;
      border: 3px solid white;
      padding: 15px;
      border-radius: 50%; }
    .main_sesion .seccion_iniciosesion .container_iniciosesion p {
      padding-top: 15px;
      color: white;
      font-family: 'Oxygen', sans-serif;
      font-size: 18px; }
    .main_sesion .seccion_iniciosesion .container_iniciosesion label {
      color: white;
      font-family: 'Oxygen', sans-serif;
      display: inline-block;
      font-size: 17px;
      width: 100%;
      padding: 10px 0;
      text-align: center; }
    .main_sesion .seccion_iniciosesion .container_iniciosesion input {
      color: black;
      height: 30px;
      width: 90%;
      border-radius: 5px;
      padding: 0 4px; }
    .main_sesion .seccion_iniciosesion .container_iniciosesion button {
      margin-top: 20px;
      font-family: 'Oxygen', sans-serif;
      height: 40px;
      border-radius: 4px;
      padding: 4px;
      cursor: pointer;
      background-color: greenyellow;
      color: black;
      font-weight: bold;
      transition: 0.5s; }
      .main_sesion .seccion_iniciosesion .container_iniciosesion button:hover {
        background-color: black;
        color: greenyellow;
        border: 3px solid greenyellow; }

.container .main_contactanos h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
  background-color: black;
  color: greenyellow; }

.container .main_contactanos .contenedor_inf {
  margin-bottom: 50px; }
  .container .main_contactanos .contenedor_inf .informacion {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container .main_contactanos .contenedor_inf .informacion h2 {
      padding: 10px 0;
      font-family: 'Oxygen', sans-serif;
      font-size: 20px; }
    .container .main_contactanos .contenedor_inf .informacion p {
      font-size: 16px;
      font-family: 'Oxygen', sans-serif;
      text-align: center; }
  .container .main_contactanos .contenedor_inf .mapa {
    padding: 15px;
    display: flex;
    align-items: center; }

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  font-family: 'Oxygen', sans-serif; }
  footer h2 {
    text-align: center;
    font-size: 17px;
    padding: 5px;
    color: white; }
  footer p {
    text-align: center;
    padding: 5px;
    font-size: 13px;
    color: white; }
  footer .redesSociales {
    display: flex;
    justify-content: space-around;
    padding: 4px;
    width: 270px; }
    footer .redesSociales a {
      text-decoration: none; }
      footer .redesSociales a i {
        font-size: 20px;
        color: white; }
  footer .copyright {
    width: 100%;
    background-color: rgba(194, 243, 120, 0.795); }
    footer .copyright p {
      font-size: 14px;
      color: black;
      font-weight: bold; }

@media (min-width: 321px) {
  .main_inicio .seccion1 .contenedor_portada {
    width: 80%; } }

@media (min-width: 481px) {
  .main_inicio .seccion1 .contenedor_portada {
    width: 90%; } }

@media (min-width: 769px) {
  header .login {
    justify-content: center; }
    header .login .ingresar {
      margin-left: 30px; } }

@media (min-width: 1025px) {
  nav {
    justify-content: center; }
  .main_inicio .seccion1 .contenedor_portada {
    width: 90%; }
  .container .main_contactanos h1 {
    font-size: 50px;
    background-color: black;
    color: greenyellow;
    margin-bottom: 20px; }
  .container .main_contactanos .contenedor_inf {
    display: flex; }
    .container .main_contactanos .contenedor_inf .informacion {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .container .main_contactanos .contenedor_inf .informacion h2 {
        font-size: 28px; }
      .container .main_contactanos .contenedor_inf .informacion p {
        font-size: 23px; }
    .container .main_contactanos .contenedor_inf .mapa {
      width: 50%; } }
